
<link rel="import" href="./../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="./../../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="./../../bower_components/iron-icon/iron-icon.html">

<dom-module id="layout-main-drawer">
    <template>
    <style>
        *{
            font-family: 'rsuregular', sans-serif;
            -webkit-font-smoothing: antialiased;
        }
        app-toolbar{
            color: white;
            background-color: #FF753F;
            font-size: 22px;
            /*user-drag: none; 
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;*/
        }
        iron-image,iron-icon{
            padding-right: 10px;
        }
        paper-icon-item{
            font-family: 'CSChatThaiUI', sans-serif;
        }
        paper-icon-item:hover{
            background-color: #F1F1F1;
            cursor:pointer;
            font-weight:bold;
        }
        paper-icon-item>div{
            position: absolute;
            top: 4px;
            right: 10px;
        }

        paper-icon-item[selected]{
            background-color: #DDD;
        }

        .mymask {
            width: 32px;
            height: 32px;
            mask: url(#mymask);
            -webkit-mask-box-image: url(/images/icon/default/app-icon-32.png);
        }
    </style>
        <div class="menu">
                
                <paper-material elevation="1">
                    <app-toolbar>

                        <div style="background-color:#FFFFFF; margin-right: 10px" class="mymask"></div>
                        <svg height="0" width="0">
                        <mask id="mymask">
                            <image id="img" xlink:href="/images/icon/default/app-icon-32.png" x="0" y="0" height="50px" width="50px" />
                        </mask>
                        </svg>
                        <!--<iron-icon icon="home" item-icon></iron-icon>-->
                            OAUTH
                    </app-toolbar>
                </paper-material>
				<div role="listbox">

                    <template is="dom-repeat" items="{{listMenu}}" filter="{{menuFilter(user.role)}}">
                        <paper-icon-item on-tap="selectPage" path$="{{item.path}}" focused  index="{{index}}" selected$="{{_checkSelect(path,item.path)}}">
                            <iron-icon icon="chevron-right" item-icon></iron-icon>
                            [[item.name]]
                            <div hidden$="{{!item.loading}}">
                                <paper-spinner active></paper-spinner>
                            </div>
                        </paper-icon-item>
                    </template>
                    
                    <!--<template is="dom-repeat" items="{{listMenu}}">
                        <paper-icon-item on-tap="selectPage" path$="{{item.path}}" focused  index="{{index}}" selected$="{{_checkSelect(path,item.path)}}">
                            <iron-icon icon="chevron-right" item-icon></iron-icon>
                            [[item.name]]
                            <div hidden$="{{!item.loading}}">
                                <paper-spinner active></paper-spinner>
                            </div>
                        </paper-icon-item>
                    </template>-->
                    
				</div>
			</div>
    </template>
    <script>
        Polymer({
            is: 'layout-main-drawer',
            behaviors:[ReduxBehavior],
            properties:{
                user:{
                    statePath:'auth.user'
                },
                listMenu:{
                    type:Array,
                    value:[
                        {
                            name: 'แอปของฉัน',
                            path: '/my-app/1102001645128',
                            role: ''
                        },
                        {
                            name: 'การเชื่อมต่อ',
                            path: '/provider',
                            role: 'ADMIN'
                        },
                        {
                            name: 'จัดการผู้ใช้งาน',
                            path: '/user',
                            role: 'ADMIN'
                        }
                    ]
                },
                sendElement:{
                    type:'Boolean',
                    value: false
                }
            },
            menuFilter:function(role){
                if (!role) {
                    return null;
                }else{
                    return function(listMenu) {
                        if(listMenu.role==''){
                            return true
                        }else{
                            return (listMenu.role==role)
                        }
                         
                    };
                }
            },
            selectPage:function(e){
                if((('/'+this.path) != e.currentTarget.getAttribute('path')) && (e.currentTarget.getAttribute('path')!='')){
                    this.set('listMenu.'+e.currentTarget.index+'.loading',true);
                    if(!this.sendElement){
                        this.fire('send-element-layout-main-drawer',this);
                        this.sendElement = true;
                    }
                    this.fire('nylon-change-page',{
                        path:e.currentTarget.getAttribute('path') 
                    });
                }else{
                    this.fire('close-drawer');
                }

                this.async(
                    ()=>{
                        this.fire('close-drawer');
                        this._loaded();
                    }
                ,'500')
                
            },
            _loaded:function(){
                this.async(()=>{
                    this.listMenu.map((item,i)=>{
                        this.set('listMenu.'+i+'.loading',false);
                    });
                    this.fire('close-drawer');
                },200)
                
            },
            _checkSelect:function(route,itemRoute){
                return (route == itemRoute.split('/')[1]);
            }
        });
    </script>
</dom-module>
