
<dom-module id="question-upload">
    <template>
        <style include="page-style"></style>
        <div class="container">
            <vaadin-upload on-upload-success="fileChange" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,text/comma-separated-values, text/csv, application/csv"></vaadin-upload>
        </div>
        <!--<paper-button class="gl-btn-success" on-tap="selectFile" raised>อัปโหลดคำถาม</paper-button>-->
        <!--<input id="file" type="file" on-change="fileChange"  hidden>-->
    </template>
    <script>
        Polymer({
            is: 'question-upload',
            behaviors:[dispatchActionBehavior],
            properties:{
                imageId:{
                    notify:true,
                    value:""
                }
            },
            behaviors:[dispatchActionBehavior],
            selectFile:function(){
                this.$.file.click();
            },
            fileChange:function(e){
                this.fire('toast',{status:'load'});
                this.dispatchAction('QUESTION_UPLOAD',e.currentTarget.files)
                .then(res=>{
                    console.log(res);
                    // alert('upload ok');
                    this.fire('toast',{status:'success',text:'อัพโหลดสำเร็จ',
                      callback:()=>{
                           this.fire('close');
                      }
                     });
                   
                });
            }
        });
    </script>
</dom-module>