<link rel="import" href="upload-image.html">
<link rel="import" href="show-image.html">
<link rel="import" href="question-upload.html">

<dom-module id="question-manage">
    <template>
        <style include="page-style tabs-style">
            .question{
                margin-top: 8px;
                text-align: right;
                font-size: 20px;
            }
            paper-radio-button{
                --paper-radio-button-size:22px;
            }
            gl-form-input{
                --paper-input-container-label:{
                    font-size: 12px;
                    font-weight:normal;
                }
            }
            .flex-end-justified {
                @apply(--layout-horizontal);
                @apply(--layout-end-justified);
            }
        </style>
        <paper-tabs selected="{{selected}}">
            <paper-tab>เพิ่มคำถาม</paper-tab>
            <paper-tab>อัพโหลดคำถาม</paper-tab>
        </paper-tabs>
        <iron-pages selected="{{selected}}">
            <section>
                <div class="container">
                    <paper-material elevation="1">
                        <table class="gl-table-default">
                            <thead>
                                <tr>
                                    <th style="width:10%;text-align: right; font-size: 18px;">คำถาม</th>
                                    <th>
                                        <gl-form-input style="margin-top: 22px" placeholder="" no-label-float value="{{data.topic}}"></gl-form-input>
                                        <show-image image-id="[[data.image_id]]"></show-image>
                                    </th>
                                    <th>
                                        <upload-image image-id="{{data.image_id}}"></upload-image>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <template is="dom-repeat" items="{{data.choice}}">
                                    <tr>
                                        <td style="text-align: right;">
                                            <paper-radio-button checked="{{item.checked}}" index="[[index]]" on-tap="selectRadio"></paper-radio-button>
                                        </td>
                                        <td>
                                            <gl-form-input placeholder="ตัวเลือกที่ [[cont(index)]]" no-label-float value="{{item.choice}}"></gl-form-input>
                                            <show-image image-id="[[item.image_id]]"></show-image>
                                        </td>
                                        <td style="width:20%;text-align: center;">
                                            <upload-image image-id="{{item.image_id}}"></upload-image>
                                            <br>
                                            <paper-icon-button on-tap="delChoice" index="[[index]]" icon="delete"></paper-icon-button>
                                        </td>
                                    </tr>
                                </template>
                                <tr on-tap="addChoice" style="cursor: pointer">
                                <td></td>
                                <td colspan="2" style="text-align: left;">
                                        <iron-icon icon="add"></iron-icon>
                                    เพิ่มตัวเลือก
                                </td>
                                </tr>
                            </tbody>
                        </table>
                    </paper-material>

                    <div style="margin: 15px 0px 15px 0px;">
                        <paper-material elevation="1">
                            <div style="padding: 30px; background-color: white;">
                                <div class="headPanel gl-default">Module</div>
                                <paper-tags-input label="" placeholder="ป้อน Module ที่ต้องการ จากนั้นกดปุ่ม Enter" tags="{{data.tag}}"></paper-tags-input>
                            </div>
                        </paper-material>
                    </div>
            <div class="flex-end-justified" style="margin-top: 10px;">
                <paper-button class="gl-btn-danger" on-tap="confirmDel" raised>ลบข้อมูล</paper-button>
                <paper-button class="gl-btn-success" on-tap="getForm" raised>บันทึก</paper-button>
            </div>
            </div>
            </section>
             <section>
                    <question-upload></question-upload>
            </section>
        </iron-pages>
        
    </template>
    <script>
        Polymer({
            is: 'question-manage',
            behaviors:[dispatchActionBehavior],
            properties:{
                selected:{
                    typeo: String,
                    value: '0'
                },
            },
            cont:function(index){
                return index+1;
            },
            addChoice:function(){
                this.push('data.choice',{
                    checked:false,
                    choice:'',
                    image_id:''
                })
            },
            delChoice:function(e){
                this.splice('data.choice',e.target.index,1);
            },
            getForm:function(){

                var data = JSON.parse(JSON.stringify(this.data));
                var answer;
                
                this.data.choice.map((row,i)=>{
                    if(row.checked) 
                    answer = i;
                });

                data.answer = answer;
                if(this.status == 'add') {
                    this.fire('toast',{status:'load'});
                    this.dispatchAction('QUESTION_INSERT',data)
                    .then(()=>{
                        this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',
                            callback:()=>{
                                this.fire('close');
                            }
                        });
                    
                    });
                }
                else if(this.status =='update'){
                    data.id = this.data.id;
                    this.fire('toast',{status:'load'});
                    this.dispatchAction('QUESTION_UPDATE',data)
                    .then(()=>{
                    this.fire('toast',{status:'success',text:'แก้ไขสำเร็จ',
                        callback:()=>{
                            this.fire('close');
                        }
                        });
                    });
                    console.log(data)
                }
               
            },
            confirmDel:function(){
                console.log('1234');
                this.fire('toast',{ 
                    status:'openDialog',
                    text:'ต้องการลบข้อมูลใช่หรือไม่ ?',
                    confirmed:this.delData.bind(this), 
                 })
            },
            delData:function(result){
                if(result == true){
                    this.fire('toast',{status:'load'});
                    this.dispatchAction('QUESTION_DELETE',this.data.id)
                    .then(()=>{
                    this.fire('toast',{status:'success',text:'ลบข้อมูลสำเร็จ',
                        callback:()=>{
                            this.fire('close');
                        }
                        });
                    });
                }
            },
            selectRadio:function(e){
                
                if(typeof this.data.choice!=="undefined"){
                    this.data.choice.map((row,i)=>{
                        if(i===e.currentTarget.index){
                            this.set('data.choice.'+i+'.checked',true)
                        }else{
                            this.set('data.choice.'+i+'.checked',false)
                        }
                    })
                }
                
                //console.log(e.currentTarget.checked)
            }
        });
    </script>
</dom-module>