
<dom-module id="show-image">
    <template>
        <style>
        img {
            opacity:0;
            -moz-transition: opacity 2s; /* Firefox 4 */
            -webkit-transition: opacity 2s; /* Safari and Chrome */
            -o-transition: opacity 2s;
            transition: opacity 2s;
        }​
        </style>
        <img id="image" onload="this.style.opacity='1';" src="[[linkImage(imageId)]]" style="max-width: 300px" alt="" hidden$="[[checkImage(imageId)]]">
    </template>
    <script>
        Polymer({
            is: 'show-image',
            observers:['imageChange(imageId)'],
            linkImage:function(id){
                return '/api/image/image/'+id
            },
            checkImage:function(imageId){
                return (typeof imageId=="undefined" || imageId=="")
            },
            imageChange:function(id){
                //console.log(this.$.image);
                this.$.image.style.opacity='0';
            }
        });
    </script>
</dom-module>