<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="./../../components/month-behavior.html">
<link rel="import" href="./../../components/data-manage-behavior.html">

<dom-module id="examinationRoom-list">
    <template>
        <style include="page-style">
         
        </style>
        <div>
            
            <paper-material elevation="1">
            <table class="gl-table-default" style="border: 1px solid #ddd;">
                <thead>
                    <th>name</th>
                    <th>tel</th>
                    <th>email</th>
                </thead>
                <tbody>
                    <template is="dom-repeat" items="[[dataList]]">
                        <tr on-tap="_selectData" data="[[item]]">
                            <td>{{item.std_name}}</td>
                            <td>{{item.tel}}</td>
                            <td>{{item.email}}</td>
                        </tr>
                    </template>
                </tbody>
            </table>
            </paper-material>
        </div>
    </template>
    <script>
        Polymer({
            is: 'examinationRoom-list',
            behaviors: [ReduxBehavior,dispatchActionBehavior],
            properties:{
                dataList:{
                    statePath:'examinationRoom.dataList'
                }
            },
            ready:function(){
                 //this.EXAMINATION_ROOM_GET_LIST();
                 this.dispatchAction('EXAMINATION_ROOM_GET_LIST');
            },
             _selectData:function(e){
                this.dispatchAction('EXAMINATION_ROOM_SELECT',e.currentTarget.data);
                this.fire('select-data',e.currentTarget.data);
            },
            getList:function(item){
                console.log('list',item);
            }
           
        });
    </script>
</dom-module>
