
<dom-module id="userManage-list">
    <template>
        <style include="page-style flex-style">
           .responTable{
                max-height: 500px;
                overflow-y:auto; 
           }
            tbody>tr>td{
                 cursor: pointer;
            }
            tbody>tr:hover{
                font-weight: bold;
                border-bottom: 2px solid dodgerblue;
            }
        </style>
        
        <!--<div class="container flex-horizontal-with-ratios">
                <div class="flex3child"></div>
                <div class="flexchild">
                    <gl-combo-box no-label-float placeholder="ค้นหาจาก" 
                     item-label-path="label" item-value-path="key"
                     items="[[typeTable]]" value="{{selectType}}">
                        <paper-icon-button icon="search" class="toggle-button"></paper-icon-button>
                    </gl-combo-box>
                </div>
                <div class="flex2child">
                   <gl-form-input no-label-float on-input="serchTable" value=""></gl-form-input>
                </div>
        </div>-->

        <paper-material elevation="1">
            <div class="responTable">
            <table class="gl-table-default">
                 <thead>
                    <tr>
                        <th style="width: 10%">#</th>
                        <th>ชื่อ-สกุล</th>
                        <th>END-USER</th>
                        <th>KEY-USER</th>
                        <th>email</th>
                        <!--<th style="margin-right: 10px"> username</th>-->
                    </tr>
                </thead>
                <tbody>
                    <template is="dom-repeat" items="[[newDataList]]">
                        <tr on-tap="dataSelected" item="[[item.id]]">
                            <td>[[count(index)]]</td>
                            <td>[[item.name]]</td>
                            <td>
                                <template is="dom-repeat" items="[[item.end_tags]]">
                                    <span style="padding: 2px">
                                        <tag-module size="14px" label="[[item.id]]" color="[[item.color]]"></tag-module>
                                    </span>
                                </template>
                            </td>
                             <td>
                                <template is="dom-repeat" items="[[item.key_tags]]">
                                      <span style="padding: 2px">
                                   <tag-module size="14px" label="[[item.id]]" color="[[item.color]]"></tag-module>
                                      </span>
                                </template>
                            </td>
                            <td>[[item.email]]</td>
                            <!--<td>[[item.username]]</td>-->
                        </tr>
                    </template>
                </tbody>
            </table>
            </div>
        </paper-material>
    </template>
    <script>
        Polymer({
            is: 'userManage-list',
            behaviors:[ReduxBehavior,dispatchActionBehavior],
            properties:{
                dataList:{
                    statePath: 'userManage.dataList',
                    observer:'getData'
                },
                typeTable:{
                    type:Array,
                    value:[
                        {
                            label:'ชื่อ-สกุล',
                            key:'name'
                        },
                        {
                            label:'E-mail',
                            key:'email'
                        }       
                    ]
                }
            },
            getData:function(){
                this.newDataList = this.dataList;
            },
            count:function(index){
                return index+1;
            },
            dataSelected:function(e){
                console.log(e.currentTarget.item);
                this.dispatchAction('USER_MANAGE_SELECT_LIST',e.currentTarget.item);
                this.fire('open');
            },
            serchTable:function(e){
                this.newDataList = [];
                if(e.target.value != '' && (this.selectType != '' || typeof this.selectType == 'undefined')){
                    for(var i = 0; i< this.dataList.length; i++){
                            if(this.selectType == 'name'){
                                if(this.dataList[i].name.search(e.target.value) > -1){
                                    this.push('newDataList',this.dataList[i]); 
                                }
                            }
                            else if(this.selectType == 'email'){
                                if(this.dataList[i].email.search(e.target.value) > -1){
                                    this.push('newDataList',this.dataList[i]); 
                                }
                            }
                    }  
                }
                else {
                    this.newDataList = this.dataList;
                }
            }
        });
    </script>
</dom-module>