
<dom-module id="userManage-manage">
    <template>
        <style include="page-style flex-style"></style>
        <div style="padding: 20px 20px 10px 20px">
            <paper-material elevation="1">
                <div class="container bgWhite">
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="flex3child">
                        <gl-form-input label="E-mail" placeholder="กรอก Email" value="{{data.email}}"></gl-form-input>
                    </div>
                    <div class="flexchild"></div>
                </div>
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="flex3child">
                        <gl-form-input label="Password" type="Password" placeholder="กรอก Password" value="{{password}}"></gl-form-input>
                    </div>
                    <div class="flexchild"></div>
                </div>
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="flex3child">
                        <gl-form-input label="Confirm-Password" type="Password" placeholder="ยืนยัน Password" value="{{ConfirmPassword}}"></gl-form-input>
                    </div>
                    <div class="flexchild"></div>
                </div>
                </div>
            </paper-material>
        </div>
        <div style="padding: 0px 20px 20px 20px">
            <paper-material elevation="1">
                <div class="container bgWhite">
                
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="flex3child">
                        <gl-form-input label="ชื่อ-สกุล" placeholder="กรอกชื่อ-สกุล" value="{{data.name}}"></gl-form-input>
                    </div>
                    <div class="flexchild"></div>
                </div>
                <!--<div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="flex3child">
                        <gl-form-input label="E-mail" placeholder="กรอก Email" value="{{data.email}}"></gl-form-input>
                    </div>
                    <div class="flexchild"></div>
                </div>-->
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="flex3child">
                        <!--<gl-combo-box label="ประเภท" placeholder="กรอก username" items="[[role]]" item-label-path="name" item-value-path="id" value="{{data.role}}"></gl-combo-box>-->
                    </div>
                    <div class="flexchild"></div>
                </div>
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="flex3child">
                        <paper-tags-dropdown items='[[newModule]]' noink label="END-TAG"  value-array="{{data.end_tags}}"></paper-tags-dropdown>
                    </div>
                    <div class="flexchild"></div>
                </div>
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="flex3child">
                        <paper-tags-dropdown items='[[newModule]]' noink label="KEY-TAG"  value-array="{{data.key_tags}}"></paper-tags-dropdown>
                    </div>
                    <div class="flexchild"></div>
                </div>
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="flex3child" style="padding-top: 10px">
                        <paper-checkbox checked="{{data.admin}}">ADMIN</paper-checkbox>
                    </div>
                    <div class="flexchild"></div>
                </div>
                </div>
             </paper-material>

            <div class="flex-end-justified" style="padding-top: 10px;">
                <div>
                    <paper-button class="gl-btn-danger" on-tap="confirmData" raised>ลบข้อมูล</paper-button>
                    <paper-button class="gl-btn-success" on-tap="getForm" raised>บันทึก</paper-button>
                </div>
            </div>
            
        </div>
    </template>
    <script>
        Polymer({
            is: 'userManage-manage',
            behaviors:[ReduxBehavior,dispatchActionBehavior],
            properties:{
                data:{
                    statePath: 'userManage.dataSelect',
                },
                module:{
                    statePath:'commonSystem.module',
                    observer:'setModule'
                }
            },
            setModule:function(){
                if(this.module.length != 0){
                    this.newModule = this.module.map((item,index)=>{
                        return {
                            id: item,
                            label:item
                        }
                    })
                }
            },
            confirmData:function(){
                this.fire('toast',{ 
                 status:'openDialog',
                 text:'ต้องการลบข้อมูลใช่หรือไม่ ?',
                 confirmed:this.delData.bind(this), 
                 })
            },
            delData:function(check){
                if(check == true){
                    this.dispatchAction('USER_MANAGE_DELETE',this.data.id);
                    this.fire('close');
                }
            },
            getForm:function(){
                this.data.password = this.password;
                console.log(this.data.id);
                if(typeof this.data.id != 'undefined'){
                    this.dispatchAction('USER_MANAGE_UPDATE',this.data);
                }
                else{
                    this.dispatchAction('USER_MANAGE_INSERT',this.data);
                }
                this.fire('close');
               
                // console.log(this.data);
            }
            
        });
    </script>
</dom-module>