<link rel="import" href="menu.html">
<link rel="import" href="head.html">
<link rel="import" href="dropdown.html">

<dom-module id="layout-main">
  <style include="iron-flex iron-flex-alignment">
  paper-toggle-button.green {
   --paper-toggle-button-checked-bar-color:  var(--paper-green-500);
   --paper-toggle-button-checked-button-color:  var(--paper-green-500);
   --paper-toggle-button-checked-ink-color: var(--paper-green-500);
   --paper-toggle-button-unchecked-bar-color:  var(--paper-teal-500);
   --paper-toggle-button-unchecked-button-color:  var(--paper-teal-500);
   --paper-toggle-button-unchecked-ink-color: var(--paper-teal-500);
 }
 .text{
   font-size: 18px;
 }
 .icon{
   width: 30px;
   height: 30px;
 }
 </style>

  <template>
      <title>title</title>

      <paper-drawer-panel responsive-width="600px" drawer-width="180px">
        <paper-header-panel drawer>
          <paper-toolbar>
            <div class="title"></div>
          </paper-toolbar>
          <div> <my-menu></my-menu> </div>
        </paper-header-panel>
        <paper-header-panel main >
          <paper-toolbar >
            <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
            <span class="flex text"  > <iron-icon class="icon" icon="icons:perm-identity"></iron-icon>ระบบรักษาความมั่นคงปลอดภัยด้วยการพิสูจน์บุคคล</span>
            <paper-icon-button id="number" icon="social:notifications"></paper-icon-button>
            <paper-badge for="number" label="3"></paper-badge>
            <div>ผู้ดูแลระบบ</div>
            <paper-menu-button>
              <paper-icon-button icon="icons:assignment-ind" class="dropdown-trigger"></paper-icon-button>
              <paper-menu class="dropdown-content">
                <paper-item>Profile</paper-item>
                <paper-item>Settings</paper-item>
                <paper-item>Log Out</paper-item>
              </paper-menu>
            </paper-menu-button>

            <paper-toggle-button class="green" id="toggleLanguage" on-tap="changeLanguage" active="{{localizeToggle}}">{{language}}</paper-toggle-button>

          </paper-toolbar>
          <div><tag-page-load></tag-page-load></div>
        </paper-header-panel>
      </paper-drawer-panel>
  </template>


  <script>
    Polymer({
      is:'layout-main',
      behaviors:[nxTemplateBehavior,nxLocalesBehavior],
      attached:function(){
        this.testi = this.language;
        this.$.toggleLanguage.checked = this.languageToToggle();
      },
      languageToToggle:function(){

        if(this.language=='th'){
          return false;
        }else{
          return true;
        }
      },
      changeLanguage:function(){
        this.testi = 'xxxx';
        console.log(this.localizeToggle);

        if(this.localizeToggle==true){
           this.switchLanguage('en');
        }else{
           this.switchLanguage('th');
        }
      },

    });
  </script>

</dom-module>
