<link rel="import" href="./../../../bower_components/polymer/polymer.html">
<script>
    /**
    * @polymerBehavior
    */  
    DataManageBehavior={
        properties:{
            dataStat:{
                type: Boolean,
                value: true
            }
        },
        checkData:function(data){
            // console.log('data',data);
            if((typeof data == 'undefined')==true || data == ''){
                this.dataStat = true;
            }
            else{
                this.dataStat = false;
            }     
        },
            
    }
</script>