
<link rel="import" href="./../../../bower_components/gl-styles/gl-color.html">
<link rel="import" href="./../../../bower_components/gl-styles/gl-table.html">
<link rel="import" href="./../../../bower_components/gl-styles/gl-size.html">
<link rel="import" href="./../../../bower_components/gl-styles/gl-panel.html">


<dom-module id="page-style">
    <template>
        <style include="gl-size gl-color gl-table gl-panel">
            @font-face {
                font-family: CSChatThaiUI;
                src: url('fonts/CSChatThaiUI.eot');
                src: url('fonts/CSChatThaiUI.eot?#iefix') format('eot'),
                    url('fonts/CSChatThaiUI.woff') format('woff'),
                    url('fonts/CSChatThaiUI.ttf') format('truetype'),
                    url('fonts/CSChatThaiUI.svg') format('svg');
            }
            *{
                 font-family: CSChatThaiUI, sans-serif;
            }

            .header{
                padding-top:20px;
                text-align: left;
                color:#7B7D7D;
            }
            .hideBorder{
                border-bottom: 2px solid white;
            }
            .headPanel{
                font-weight: bold;
            }
            paper-button,.header,table,span,.question,.headPanel,paper-card,.fontCSC,paper-checkbox{
                font-family: var(--page-font-csc);
            }
            .left{
                text-align: left;
            }
            .right{
                text-align: right;
            }
            paper-input,paper-tags-input,gl-form-textarea,paper-tags-dropdown{
                --paper-input-container-label:{
                     font-family: var(--page-font-csc);
                }
                --paper-input-container-input:{
                    font-family: var(--page-font-csc);
                }
            }
            .container{
                padding:20px;
            }
             .searchBorder {
                border: 1px solid var(--gl-gray-lighter-color);
                margin: 15px;
                border-radius: 3px
            }
            .searchBox {
                padding: 10px;
                background-color: var(--gl-gray-lighter-color);
            }
            table{
                border:1px solid #ddd;
                color:#555;
            }
            th,.footer,.gl-panel-default-content,.bgWhite{
                background-color: white !important;
            }
            thead>tr{
                border-bottom: 2px solid #ccc 
            }
            .footer>tr{
                border-top: 2px solid #555;
                border-bottom: 0px solid white;
            }
            tbody>tr>td{
                background-color: #fff;
            }
            paper-fab{
                position: fixed;
                bottom: 20px;
                right: 20px;
                --paper-fab-background: #337ab7;
            }
            .xcontainer{
                margin: auto;
            }
            @media screen and (min-width: 1275px) {
                .xcontainer {
                    width:80%;
                }
    	    }
            .tag{
                font-size: 12px;
                padding: 2px 5px 2px 5px;
                background-color: #F5B041;
                color: white;
                border-radius: 4px;
            }
        </style>
    </template>
    <script>
        Polymer({
            is: 'page-style'
        });
    </script>
</dom-module>