<dom-module id="vessel-detail">
  <style include="iron-flex iron-flex-alignment">
  .content{
    background-color: #FFF;

    font-size: 16px;
  }
    paper-input{
      width: 300px;
    }
    .left{
      margin-left: 20px;
    }
    .b{
      position: fixed;
      right: 0px;
      bottom: 0px;
      margin-right: 20px;
      margin-bottom: 20px;
    }
  </style>
  <template>
    <paper-material class="content">
    <div class="left">
      <paper-input invalid="{{error.vessel}}" auto-validate label="ชื่อเรือ" pattern="*" error-message="ใส่ชื่อเรือด้วยนะจ๊ะ" required value="{{data.vessel}}"></paper-input>
      <paper-input invalid="{{id}}" auto-validate label="Booking No." error-message="ใส่รหัสเรือด้วยนะจ๊ะ" required value="{{data.id}}"></paper-input>
      <paper-input invalid="{{etd}}" auto-validate label="ETD" error-message="ใส่วันที่ส่งด้วยนะจ๊ะ" required value="{{data.etd}}"></paper-input>
      <paper-input invalid="{{eta}}" auto-validate label="ETA" error-message="ใสวันที่รับด้วยนะจ๊ะ" required value="{{data.eta}}"></paper-input>
    </div>
    <div class="horizontal end-justified layout"><paper-button raised on-tap="validate">บันทึก</paper-button></div>
    </paper-material>
  </template>

  <script>
    Polymer({
      is: "vessel-detail",
      properties: {
        data: {
          type: Object,
          value: { vessel:'', id:'', etd:'', eta:'' }
        },
        error:{
          type:Object,
          value:{ vessel:false, id:false, etd:false, eta:false }
        }
      },
      validate: function(){

        if(
            (
              this.data.vessel != "" &&
              this.data.id != "" &&
              this.data.etd != "" &&
              this.data.eta != ""
            )
            &&
            (
              this.error.vessel == false &&
              this.error.id == false &&
              this.error.etd == false &&
              this.error.eta == false
            )
        ){
          var queryELement = document.querySelector('data-list-vessel');
          queryELement.save(this.data,this.index);
        }
      }

    });
  </script>
</dom-module>
