<dom-module id="my-insert">
  <style>
  paper-fab.orange {
    --paper-fab-background: var(--paper-orange-800);
    --paper-fab-keyboard-focus-background: var(--paper-orange-900);
  }
  .top{
    margin-right: 10px;
    margin-top: 10px;
  }
  .big{
    width: 50px;
    height: 50px;
  }
  </style>
  <template>
    <paper-fab icon="icons:add" title="Add" class="orange big"></paper-fab>
  </template>

  <script>
  Polymer({
    is: "my-insert",

  });
  </script>
</dom-module>

<dom-module id="my-delete">
  <style>
  paper-fab.red {
    --paper-fab-background: var(--paper-red-500);
    --paper-fab-keyboard-focus-background: var(--paper-red-900);
  }
  .mini{
    width: 20px;
    height: 20px;
  }
  </style>
  <template>
    <paper-fab icon="icons:clear" title="Delete" class="red mini"></paper-fab>
  </template>
  <script>
  Polymer({
    is: "my-delete",

  });
  </script>
</dom-module>

<dom-module id="my-del">
  <style>
  paper-button.indigo {
    background-color: var(--paper-red-900);
    color: white;
    };
  }
  </style>
  <template>
    <paper-button raised class="indigo">Delete This Conction</paper-button>
  </template>
  <script>
    Polymer({
      is: "my-del",

    });
  </script>
</dom-module>
