<link rel="import" href="my-detail.html">
<dom-module id="name-data">
  <template>

    <template is="dom-repeat" items="{{data}}">
      <my-detail data="{{item}}" index="{{index}}" data2="{{data}}"></my-detail>
    </template>

  </template>
  <script>
    Polymer({
      is: "name-data",


    });
  </script>
</dom-module>


<dom-module id="data-new">
  <template>

    <template is="dom-repeat" items="{{datas}}">
      <my-details datas="{{item}}" index="{{index}}" datas2="{{datas}}"></my-details>
    </template>

  </template>
  <script>
    Polymer({
      is: "data-new",


    });
  </script>
</dom-module>
