
<link rel="import" href="./student-list.html">

<dom-module id="examRoom-manage">
    <template>
        <style include="page-style flex-style">
            .margin{
                margin-top: 16px;
                text-align: center;
            }
            paper-checkbox{
                --paper-checkbox-checked-color: var(--paper-green-500);
                --paper-checkbox-checked-ink-color: var(--paper-green-500);
            }
        </style>
        <div class="container">
           
            <paper-material elevation="1">
                <div class="container bgWhite">
                    <div class="flex-horizontal-with-ratios">
                        <div class="flexchild"></div>
                        <div class="flexchild fontCSC margin">
                            ชื่อห้องสอบ 
                        </div>
                        <div class="flex3child" style="text-align: left">
                            <gl-form-input class"width" value="{{data.name}}" no-label-float></gl-form-input>
                        </div>
                        <div class="flexchild"></div>
                    </div>
                    <div class="flex-horizontal-with-ratios">
                        <div class="flexchild"></div>
                        <div class="flexchild fontCSC margin">
                            เลือกข้อสอบ
                        </div>
                        <div class="flex3child" style="text-align: left">
                            <gl-combo-box class"width" no-label-float items="[[examList]]" item-label-path="ex_name" item-value-path="id" value="{{data.examination_id}}"></gl-combo-box>
                        </div>
                        <div class="flexchild"></div>
                    </div>
                    <div class="flex-horizontal-with-ratios">
                        <div class="flexchild"></div>
                        <div class="flexchild fontCSC margin">
                            Module
                        </div>
                        <div class="flex3child" style="text-align: left">
                            <gl-combo-box  no-label-float items="{{newTag}}" value="{{data.tag}}"></gl-combo-box>
                        </div>
                      
                        <div class="flexchild"></div>
                    </div>
                    <div class="flex-horizontal-with-ratios">
                        <div class="flexchild"></div>
                        <div class="flexchild fontCSC margin">
                            กำหนดเวลา
                        </div>
                        <div class="flexchild" style="text-align: left">
                            <gl-form-input class"width" type="number" no-label-float value="{{data.time}}">
                                <div suffix>นาที</div>
                            </gl-form-input>
                        </div>
                        <div class="flex2child fontCSC margin">
                           <paper-checkbox checked="{{data.enable}}" class="green">เปิดการใช้งาน</paper-checkbox>
                        </div>
                        <div class="flexchild"></div>
                    </div>
                    
                </div>
            </paper-material>
            <div class="flex-equal-around-justified">
                <!--<div>
                    <student-list id="cancel" data="{{studentList}}" icon="clear" active="cancel" status="false"></student-list>
                </div>-->
                <div>
                    <student-list id="join" data="{{studentList}}" icon="add" active="join" status="false"></student-list>
                    <!--<manage-list></manage-list>-->
                </div>
            </div>
        </div>
        <div class="container flex-end-justified">
            <div>
                <paper-button class="gl-btn-danger" on-tap="confirmDelete" raised>ลบข้อมูล</paper-button>
            </div>
            <div>
                <paper-button class="gl-btn-success" on-tap="getForm" raised>บันทึก</paper-button>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'examRoom-manage',
            observers:['getExamList(user.id)','check(data.id)','getStudentList(data.tag)'],
            listeners:{
                'join-student':'joinStudent',
                'cancel-student':'cancelStudent'
            },
            behaviors: [ReduxBehavior,dispatchActionBehavior],
            properties:{
                user:{
                    statePath:'auth.user'
                },
                examList:{
                    statePath:'examRoom.examList'
                },
                studentList:{
                    statePath:'examRoom.studentList'
                },
                data:{
                    statePath:'examRoom.selectexamRoom'
                },
                listTag:{
                    statePath:'examination.listTag',
                    observer:'fillterListTag'
                }
            },
            fillterListTag:function(listTag){
                this.newTag = this.listTag.filter((item)=>{
                     return item[0] == '*'
                })
            },
            getStudentList:function(tag){
                if(tag != '' && typeof tag != 'undefined'){
                    var newTag = tag.slice(1,tag.length);
                    // console.log(newTag);
                    this.dispatchAction('EXAMROOM_GET_STUDENT_LIST',newTag);
                }
                else{
                    this.dispatchAction('EXAMROOM_CLEAR_STUDENT_LIST');
                    // this.studentList = [];
                    //  this.dispatchAction('EXAMROOM_GET_STUDENT_LIST',tag);
                }       
            },
            check:function(id){
                if(id){
                    for(var i = 0; i< this.studentList.length; i++){
                        if(this.studentList[i].id == this.data.learner[i]){
                            this.studentList[i].check = true;
                        }
                        else {
                            this.studentList[i].check = false;
                        }
                    }
                    this.studentList = [].concat(this.studentList);
                    // this.fire('data-value',this.studentList);
                    this.fire('status',false);
                }
                else {
                    this.studentList.map((item)=>{
                        item.check = false;
                    })
                    this.set('data.enable',false);
                    this.fire('data-value',[]);
                    this.fire('status',true);
                }
            },
            getExamList:function(id){
                this.dispatchAction('EXAMROOM_GET_EXAM_LIST',this.user.id);
            },
            confirmDelete:function(){
                this.fire('toast',{ 
                 status:'openDialog',
                 text:'ต้องการลบข้อมูลใช่หรือไม่ ?',
                 confirmed:this._deleteData.bind(this), 
                 })
            },
            _deleteData:function(check){
                if(check == true){
                    this.dispatchAction('EXAMROOM_DELETE_DATA',this.data.id);
                }
            },
            getForm:function(){
                this.data.user_id = this.user.id;
                this.data.enable =  this.$$('paper-checkbox').checked;
                this.data.time = parseInt(this.data.time);
                this.data.learner = this.studentList.map((item)=>{
                    return item.id;
                })
                if(!this.data.id){
                    // console.log(this.data);
                     this.dispatchAction('EXAMROOM_INSERT_DATA',this.data);
                }
                else{
                    var {name,examination_id,time,enable,learner,user_id,id} = this.data;
                    var newData = {name,examination_id,time,enable,learner,user_id,id}
                    console.log(newData)
                    this.dispatchAction('EXAMROOM_UPDATE_DATA',newData);
                    this.fire('close');
                }
               
            }
        });
    </script>
</dom-module>