
<dom-module id="examRoom-list"> 
    <template>
        <style include="page-style">
            tbody>tr>td{
                 cursor: pointer;
            }
            tbody>tr:hover{
                font-weight: bold;
                border-bottom: 2px solid dodgerblue;
            }
        </style>
            
            <paper-material elevation="1">
            <table class="gl-table-default">
                <thead>
                    <tr>
                        <th style="width:10%">#</th>
                        <th>รายชื่อห้องสอบ</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <template is="dom-repeat" items="[[examRoomList]]">
                        <tr on-tap="selectedData" item="[[item.id]]">
                            <td>[[count(index)]]</td>
                            <td>[[item.name]]</td>
                        </tr>
                    </template>
                </tbody>
            </table>
              </paper-material>
    </template>
    <script>
        Polymer({
            is: 'examRoom-list',
            behaviors: [ReduxBehavior,dispatchActionBehavior],
            properties:{
                examRoomList:{
                    statePath:'examRoom.examRoomList'
                }
            },
            ready:function(){
                this.dispatchAction('EXAMROOM_GET_EXAMROOM');
            },
            count:function(index){
                return index+1;
            },
            selectedData:function(e){
                console.log(e.currentTarget.item);
                this.dispatchAction('EXAMROOM_SELECT_DATA',e.currentTarget.item);
                this.fire('open');
                // this.dispatchAction('EXAMROOM_GET_EXAMROOM');
            }
        });
    </script>
</dom-module>