<link rel="import" href="vessel-detail.html">
<dom-module id="panel-seleted">

  <style>
    paper-tabs{
      width: 300px;
      margin-left: 100px;
    }
  </style>

    <template>
      <paper-tabs selected="{{selected}}" attr-for-selected="name">
        <paper-tab name="detail">รายละเอียด</paper-tab>
        <paper-tab name="print">พิมพ์</paper-tab>
        <paper-tab name="file">ไฟล์</paper-tab>
      </paper-tabs>

      <iron-pages selected="{{selected}}" attr-for-selected="name">
        <div name="detail"><vessel-detail data="[[data]]" index="{{index}}"></vessel-detail></div>
        <div name="print"></div>
        <div name="file"></div>
      </iron-pages>

    </template>
    <script>
        Polymer({
            is:'panel-seleted',
            properties: {
              selected: {
                type: String,
                value: "detail"
              }
            },

            attached: function() {
              console.log(this.selected);
            },
        });
    </script>
</dom-module>
