
<dom-module id="examHistory-list">
    <template>
        <style include="page-style">
            tbody>tr>td{
                 cursor: pointer;
            }
            tbody>tr:hover{
                font-weight: bold;
                border-bottom: 2px solid dodgerblue;
            }
        </style>
        <div class="container">
            <paper-material elevation="1">
            <table class="gl-table-default">
                <thead>
                    <tr>
                        <th style="width:10%">#</th>
                        <th>รายการห้องสอบ</th>
                        <th>จำนวนข้อ</th>
                        <th style="width:20%"></th>
                    </tr>
                </thead>
                <tbody>
                    <template is="dom-repeat" items="[[examList]]">
                        <tr on-tap="selectData" item="[[item]]">
                            <td>[[getIndex(index)]]</td>
                            <td>[[item.name]]</td>
                            <td>[[item.qty]]</td>
                            <td>
                               <iron-icon icon="create"></iron-icon>
                               เริ่มทำข้อสอบ
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
             </paper-material>
             </div>
    </template>
    <script>
        Polymer({
            is: 'examHistory-list',
            behaviors:[ReduxBehavior,dispatchActionBehavior],
            getIndex:function(index){
                return index+1;
            },
            properties:{
                examList:{
                    statePath:'examHistory.examList'
                }
            },
            selectData:function(e){
                // console.log(e.currentTarget.item.id);
                //  this.dispatchAction('EXAM_HISTORY_EXAM_LIST_SELECT',e.currentTarget.item.id);
                this.fire('nylon-change-page',{path:'/exam/'+e.currentTarget.item.id})
            }
        });
    </script>
</dom-module>