<link rel="import" href="./examination-list.html">
<link rel="import" href="./examination-manage.html">


<dom-module id="examination-page">
    <template>   
        <style include="page-style">
            paper-tabs{
                --paper-tabs-selection-bar-color:#95bf31;
                --paper-tabs-selection-bar:{
                    border: 2px solid #95bf31;
                }
                --paper-tabs:{
                    background-color: white;
                }
            }
            paper-tab{
                color:#95bf31;
                font-family: 'CSChatThaiUI', sans-serif;
                font-size: 18px;
                --paper-tab-content-unselected:{
                    color: black;
                }
            }
            .flex-end-justified {
                @apply(--layout-horizontal);
                @apply(--layout-end-justified);
            }
        </style>
        <paper-material elevation="1">
            <paper-tabs selected="{{selected}}">
                <paper-tab>กำหนดชุดข้อสอบ</paper-tab>
                <paper-tab>คำถาม</paper-tab>
            </paper-tabs>
        </paper-material>
        <iron-pages selected="{{selected}}">
            <section>
                <examination-manage data="{{data}}"></examination-manage>
            </section>
            <section>
                <examination-list type-list="question" data-list="[[data.question]]" obj="[[data.obj]]"></examination-list>
            </section>
        </iron-pages>
        <div class="flex-end-justified">
            <template is="dom-if" if="[[data.id]]">
                <paper-button class="gl-btn-danger" on-tap="confirmDel" raised>ลบข้อมูล</paper-button>
            </template>
            <paper-button class="gl-btn-success" on-tap="getForm" raised>บันทึก</paper-button>
        </div>
    </template>
    <script>
        Polymer({
            is: 'examination-page',
            behaviors:[examinationAction],
            listeners:{
                'next-page':'nextPage',
                'back-page':'backPage',
                'click-tab':'click'
                
            },
            nextPage:function(){
                this.$$('iron-pages').selectNext();
            },
            click:function(){
               this.fire('random-data',this.data.obj);
            },
            backPage:function(){
                this.$$('iron-pages').selectPrevious();
            },
             getForm:function(){
                if(typeof this.data.id == "undefined" || this.data.id==""){
                    this.fire('insert-data',this.data);
                }else{
                    this.fire('update-data',this.data);
                }
                
            },
            confirmDel:function(e){
                this.fire('toast',{ 
                    status:'openDialog',
                    text:'ต้องการลบข้อมูลใช่หรือไม่ ?',
                    confirmed:this.delData.bind(this), 
                 })
            },
            delData:function(result){   
                if(result == true){
                    this.fire('delete-data',this.data.id);
                }
            }
        });
    </script>
</dom-module>