
<dom-module id="examination-list">
    <template>
        <style include="page-style">
             tbody>tr>td{
                 cursor: pointer;
             }
            tbody>tr:hover{
                font-weight: bold;
                border-bottom: 2px solid dodgerblue;
            }
        </style>
        <div class="container">
            <paper-material elevation="1">
                <div class="content">
                    <table class="gl-table-default">
                        <thead>
                            <tr>
                                <template is="dom-if" if="[[checkTypeList(typeList,'examination')]]">
                                    <th style="width:10%">ลำดับ</th>
                                    <th colspan="2">ชุดข้อสอบ</th>
                                </template>
                                <template is="dom-if" if="[[checkTypeList(typeList,'question')]]">
                                    <th style="width:10%">ข้อที่</th>
                                    <th>คำถาม</th>
                                    <th style="text-align: right">
                                        <paper-button on-tap="random" raised>สุ่มข้อสอบ</paper-button>
                                    </th>
                                </template>
                            </tr>
                        </thead>
                        <tbody>
                            <template is="dom-repeat" items="[[dataList]]">
                                <template is="dom-if" if="[[checkTypeList(typeList,'examination')]]">
                                    <tr on-tap="selectList" item="[[item]]" examination-id="[[item.id]]">
                                        <td>
                                            <div>[[toIndex(index)]]</div>
                                        </td>
                                        <td>
                                            [[item.ex_name]]
                                        </td>
                                        <td style="text-align: right;">
                                            <iron-icon icon="create"></iron-icon>
                                        </td>
                                    </tr>
                                </template>
                                <template is="dom-if" if="[[checkTypeList(typeList,'question')]]">
                                    <tr item="[[item]]" question-id="[[item.id]]">
                                        <td>
                                            <div>[[toIndex(index)]]</div>
                                        </td>
                                        <td colspan="3">
                                            [[item.topic]]
                                        </td>
                                    </tr>
                                </template>
                            </template>
                        </tbody>
                    </table>
                </div>
            </paper-material>
        </div>
    </template>
    <script>
        Polymer({
            is: 'examination-list',
            properties:{
                typeList:{
                    type:String
                }
            },
            checkTypeList:function(typeList,typeSelect){
                return typeList==typeSelect
            },
            selectList:function(e){
                this.fire('select-data',e.currentTarget.examinationId);
            },
            random:function(){
                // console.log(this.dataList);
                this.fire('click-tab')
            },
            toIndex:function(index){
                return ++index;
            }
        });
    </script>
</dom-module>