<html>
    <head>
      <title></title>
      <link href="/css/main.css" rel="stylesheet"/>
    </head>
    <body>
      <h3></h3>
      <table>
        <tr>
          <td>ข้อมูลผู้ใช้งาน</td>
        </tr>
        <tr>
          <td>ชื่อ :</td>
          <td></td>
        </tr>
        <tr>
          <td>สถานะ :</td>
          <td></td>
        </tr>
        <tr>
          <td>สิทธิ์ :</td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2">
            <hr/>
          </td>
        </tr>
        <tr>
          <td>ข้อมูลระบบ</td>
        </tr>
        <tr>
          <td>ชื่อระบบ :</td>
          <td></td>
        </tr>
        <tr>
          <td>สถานะการใช้งาน :</td>
          <td></td>
        </tr>
        <tr>
          <td>สิทธิ์การใช้งาน :</td>
          <td></td>
        </tr>
      </table><a></a>
    </body>
  </html>