<html>

<head>
    <title></title>
</head>

<body>
    <h1></h1>
</body>
<div>
    <form action="/api/oauth/login" method="post">
        <h3>Username</h3>
        <input type="text" name="username" value="" /><br/>
        <h3>Password</h3>
        <input type="text" name="password" value="" /><br/><br/>
        <input type="submit" value="Login" />
    </form>
</div>
<div>
    <ui>
        <li><a href="/api/oauth/facebook">Login with facebook</a></li>
        <li> <a href="/api/oauth/google">Login with google</a></li>
    </ui>
</div>

</html>