html
    head
        title=title
    body
        h1=message
        
    div
        form(action='/api/oauth/login',method='post')
            h3 Username
            input(type='text',name='username', value='')
            br
            h3 Password
            input(type='text',name='password', value='')
            br
            br
            input(type='submit', value='Login')
    div
        ui
            li 
                a(href='/api/oauth/google') Login with google