html
    head
        title=title
        link(href='/css/main.css',rel='stylesheet')
    body
        form(action='/oauth/register',method='post')
            h3 รหัสบัตรประชาชน
            input(type='text',name='pid', value='')
            br
            input(type='submit', value='ลงทะเบียน')