
<dom-module id="classRoom-card">
    <template>
        <style include="page-style">
             paper-card.rate { @apply(--layout-horizontal); }
            .rate-image {
                width: 100px;
                height: 170px;
                background: url('./donuts.png');
                background-size: cover;
            }
            .rate-content {
                @apply(--layout-flex);
                float: left;
            }
            .rate-header { @apply(--paper-font-headline); }
            .rate-name { color: var(--paper-grey-600); margin: 10px 0; }
            paper-icon-button.rate-icon {
                --iron-icon-fill-color: white;
                --iron-icon-stroke-color: var(--paper-grey-600);
            }
        </style>
           <paper-card class="rate">
            <div class="rate-content">
                <div class="card-content">
                    <div class="rate-header">Rate this album</div>
                    <div class="rate-name">Mac Miller</div>
                    <div>Live from space</div>
                </div>
                <div class="card-actions">      
                   <paper-button>
                       <iron-icon icon="create"></iron-icon>
                       จัดการ
                    </paper-button>
                </div>
            </div>
        </paper-card>
    </template>
    <script>
        Polymer({
            is: 'classRoom-card'
        });
    </script>
</dom-module>